
<div class="header-container">

<img  src="assets/Hda_logo.svg">
<nb-actions >
      <nb-action  *ngIf="guests != 'true'"
        badgeDot
        badgePosition="top right"
        icon="bell-outline"
        badgeStatus="danger"
        [nbContextMenu]="notification"
        [nbContextMenuTrigger]="notificationTrigger"
      >

      </nb-action>


      <nb-action >
        <nb-user *ngIf="guests != 'true'"
            [name]="user?.firstName + ' ' + user?.lastName"
            [title]="user?.role"
            [nbContextMenu]="Menu"
            nbContextMenuTag="userProfile">
        </nb-user>
        <nb-user *ngIf="guests == 'true'"
                 [name]="'guest guest'"
                 [title]="'guest'"

                 >
        </nb-user>
      </nb-action>


</nb-actions>
</div>

