
<nb-accordion>

  <nb-accordion-item  *ngFor="let course of courses" style="margin-bottom: 2%;">
    <nb-accordion-item-header>
       {{course.name}}
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      	
    	<nb-card>
			  <nb-card-body>
			    <div> kurs start : {{course.startsOn}} </div>
			    <div> maximale Kapazität : {{course.maxCapacity}} </div>
			    <div> kurs endet : {{course.endsOn}} </div>
			  </nb-card-body>
			  <nb-card-footer>
			  		<div class="d-flex justify-content-end">
			  	    	<button nbButton outline status="warning" (click)="addCourse(course.id)" > <nb-icon icon="star"></nb-icon>beitreten</button>
			  	   	</div>
			  </nb-card-footer>
		</nb-card>


    </nb-accordion-item-body>
  </nb-accordion-item>


</nb-accordion>

