
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexView($value,$direction) {
  @include flexbox;
  @include flex($value);
  @include flexDirection($direction);

}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flexDirection($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flexColumn() {
 @include flexbox;
  @include flexDirection(column);
}



   @media screen and (max-width: 600px) {
      
  
  }

  @media screen and (min-width: 600px) {
  .columns-wrapper {
    @include flexView(1 1 0, row);

    .left-column, .right-column {
      @include flexColumn;
      margin: 0 0.5rem;
    }

    .left-column {
      flex: 1 1 1; 
    }

    .right-column {
      flex: 1 1 1;
    }
  }
  }