<ng-template #dialog let-data let-ref="dialogRef">
      <nb-card>
        <nb-card-header>
          <div class="d-flex justify-content-end">
            <div (click)="ref.close()">X</div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <iframe src="http://www.orimi.com/pdf-test.pdf" type="application/pdf" width="1000"
                height="500" ></iframe>
        </nb-card-body>
      </nb-card>

</ng-template>

<div class="container">
  <div class="row"  >

    <div class="col-lg-6 col-sm-12" *ngFor="let material of materials">
        <nb-card size="tiny">
          <nb-card-header>Material - {{material.id}}</nb-card-header>
          <nb-card-body>
            <button status="warning"  nbButton outline (click)="open(dialog , material.id)" fullWidth>{{material.name}}</button>
          </nb-card-body>
        </nb-card>
    </div>
  </div>
</div>
