<nb-card  >
    <nb-card-header >
    	<div class="d-flex justify-content-between">
     		Hallo Name
    		<nb-toggle labelPosition="start" [(ngModel)]="toggleNgModel">Bearbeiten</nb-toggle>
		</div>
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
            
            <input type="text" id="input1" name="input1" class="mb-4" fieldSize="giant" nbInput fullWidth status="warning" value="ALA" [disabled]="!toggleNgModel" placeholder="Vorname" ngModel >  

            <input type="text" id="input2" class="mb-4" name="input2" fieldSize="giant" value="ROUIS" nbInput fullWidth status="warning" [disabled]="!toggleNgModel"placeholder="Nachname" ngModel>      
            
            <input type="text" id="input3" class="mb-4" name="input3" fieldSize="giant" value="31.08.1994" nbInput fullWidth status="warning" [disabled]="!toggleNgModel" placeholder="Geburtstag" ngModel>

            <input type="text" id="input4" name="input4" class="mb-4" fieldSize="giant" value="INFORMATIK" nbInput fullWidth status="warning" [disabled]="!toggleNgModel" placeholder="Nachname" ngModel>      
		    
		    <div class="d-flex justify-content-end">

		    	<button nbButton status="warning" type="submit" [disabled]="!toggleNgModel">update</button>
		    </div>
        </form>
    </nb-card-body>

    <nb-card-footer>

    </nb-card-footer>
</nb-card>