<div class="container">
  <div class="row"  >
    <div class="col-lg-6 col-sm-12" *ngFor="let mycourse of myCourses">
      <nb-card (click)="sigleCourse(mycourse.id)" >
        <nb-card-header style="position: relative;">

              <div class="d-flex justify-content-between" *ngIf="user.role == 'prof'">
                {{mycourse.name}}
                <nb-icon icon="trash-2-outline" status="danger" (click)="deleteCourse($event, mycourse.id)"></nb-icon>
              </div>
          <nb-badge [text]="getText(mycourse.startsOn)" [status]="getStatus(mycourse.startsOn)" position="top right"></nb-badge>
        </nb-card-header>
        <nb-card-body>
          <div class="d-flex justify-content-between">
              kurse endet am {{formateDate(mycourse.endsOn)}}
              <button nbButton outline status="warning" *ngIf="user.role == 'student'" (click)="abmelden($event, mycourse.id)" >Abmelden</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>


