


<div class="container">
  <div class="row"  >
       <div class="col-lg-4 col-sm-12" >
                               <button id="add" nbButton outline status="warning" >material Hochladen</button>
                              
    </div>

    <div class="col-lg-4 col-sm-12" *ngFor="let material of materials">
            <nb-card size="tiny">
                  <nb-card-header>
                        
                        <div class="d-flex justify-content-between">
                              Material-ID {{material.id}}
                              <nb-icon icon="close" status="danger" (click)="deleteMaterial(material.id)"></nb-icon>
                        </div>
                  </nb-card-header>
                  <nb-card-body>
                        Material details
                  </nb-card-body>
            </nb-card>
    </div>
  
  </div>
</div>
